.Home {
  position: relative;
}

.Home-header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.Home-header-items {
  position: relative;
  padding: 30px 5%;
}

.Movie-search {
  margin: 20px 0;
  position: relative;
  height: fit-content;
  width: 100%;
  max-width: 400px;
}

.search-input {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  width: 100%;
  position: relative;
}

.search-input::placeholder {
  color: #fff;
}

.search-btn {
  background: transparent;
  color: #fff;
  border: 0;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.signin-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.05rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signin-btn span {
  width: 30px;
  height: 30px;
  background-color: #be123c;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.Home-hero {
  min-height: 100vh;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
}

.Home-hero-item {
  min-height: inherit;
  width: 100%;
  padding: 250px 5% 50px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.hero-title {
  font-size: 2.2rem;
}

.hero-overview {
  font-weight: 500;
}

.hero-rating {
  margin: 18px 0;
  font-size: 0.8rem;
}

.imdb-rating {
  margin-right: 2em;
}

.watch-link {
  background-color: #881337;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  border-radius: 5px;
  margin-top: 18px;
}

.icon-text-right {
  margin-left: 1em;
}

.icon-text-left {
  margin-right: 1em;
}

.hero-pagination {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: fit-content;
}

.hero-pagination div {
  padding: 0.5em;
  cursor: pointer;
  color: rgb(153, 153, 153);
}

.hero-pagination div.active,
.hero-pagination div:hover {
  color: #fff;
}

.Home-movies-wrapper {
  padding: 70px 5%;
}

.see-more-link {
  text-decoration: none;
  color: #be123c;
}

.faint {
  color: gray;
}

.movies-grid {
  display: inline-grid;
  grid-template-columns: auto;
  justify-content: space-between;
  align-content: space-between;
  gap: 50px;
  width: 100%;
  margin-top: 10px;
}

.poster-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.fav-btn {
  background-color: #ffffff80;
  color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fav-btn:hover, .fav-btn.add {
  background-color: #e77f99;
  color: #be123c;
}

.movie-decription {
  margin-top: 10px;
}

.movie-tags {
  margin-top: 10px;
}

.movie-title {
  margin: 15px 0;
}

.movies-wrapper-header,
.movie-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-wrapper-header {
  margin-bottom: 30px;
}

.Home-footer {
  text-align: center;
  margin-top: 70px;
}

.Home-footer a {
  color: inherit;
  text-decoration: none;
  margin-right: 2em;
}

.Footer-links {
  margin: 20px 0;
}

.Details {
  display: flex;
  min-height: 100vh;
}

.Details-sidenav {
  width: 20%;
  border: 1px solid rgb(192, 191, 191);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 40px 0;
  text-align: center;
  display: none;
}

.logo-wrapper {
  padding: 0 5%;
}

.sidenav-menu {
  list-style: none;
  padding: 40px 0;
}

.sidenav-menu li a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 20px 0;
  /* border: 1px solid red; */
}

.sidenav-ads {
  padding: 40px 5%;
}

.ads-block {
  border: 1px solid #be123c;
  background-color: #f0ced7;
  text-align: left;
  border-radius: 15px;
  padding: 50px 5% 20px;
}

.ads-text {
  margin: 10px 0;
}

.ads-start-btn {
  display: block;
  padding: 10px;
  text-align: center;
  color: #be123c;
  background-color: #e77f99;
  text-decoration: none;
  border-radius: 20px;
}

.logout-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

.Details-main {
  padding: 20px 3%;
}

.Movie-description {
  display: flex;
  justify-content: space-between;
}

.production-details {
  width: 70%;
}

.movie-properties span {
  padding: 5px 1em;
}

.movie-properties span.movie-title {
  padding-left: 0;
}

.movie-properties .movie-genre {
  display: inline-block;
  padding: 5px 1em;
  text-decoration: none;
  border: 1px solid rgb(202, 202, 202);
  color: #be123c;
  border-radius: 20px;
  margin: 0 1em;
}

.movie-overview {
  margin-top: 20px;
}

.movie-meta {
  margin: 25px 0;
}

.movie-meta .meta-value {
  text-decoration: none;
  color: #be123c;
}

.meta-tabs {
  border: 1px solid rgb(182, 181, 181);
  border-radius: 7px;
}

.meta-tab {
  border-radius: 7px;
  display: inline-block;
  padding: 7px 0.5em;
  text-decoration: none;
  color: inherit;
}

.rating-tab {
  background-color: #be123c;
  color: white;
}

.details-rating {
  text-align: right;
}

.movie-suggestions {
  padding-left: 30px;
}

.suggestions-tab {
  border-radius: 7px;
  display: block;
  padding: 5px 0.5em;
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
}

.suggestions-tab.see-tab {
  background-color: #be123c;
  color: white;
  margin: 25px 0 10px;
}

.suggestions-tab.more-tab {
  background-color: rgb(231, 189, 189);
  border: 1px solid #be123c;
}

.suggestion-movies {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0.5em;
}

.suggestion-movie-card {
  display: block;
}

.suggestion-movie-des {
  border-radius: 7px;
  display: block;
  padding: 7px 0.5em;
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.212);
}

@media screen and (min-width: 768px) {
  .Home-header-items {
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.MovieSearch {
  margin: 0;
}

  .Home-hero-item {
    padding: 100px 7% 50px;
    height: inherit;
    display: flex;
    align-items: center;
  }
  .hero-description {
    width: 50%;
    max-width: auto;    
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-overview {
    font-size: 1.2rem;
    line-height: 1.3em;
  }

  .imdb-rating {
    margin-right: 5em;
  }

  .hero-pagination {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  transform: translateX(0);
   right: 2%;
    height: fit-content;
    display: block;
  }

  .hero-pagination div {
    padding: 0.5em;
  }

  .Home-movies-wrapper {
    padding: 40px 7%;
  }

  .movies-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .Details-sidenav {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .Home-header-items {
    padding: 20px 10%;
  }

  .Home-hero-item {
    padding: 20px 10%;
  }

  .hero-title {
    font-size: 4rem;
  }

  .imdb-rating {
    margin-right: 7em;
  }

  .Home-movies-wrapper {
    padding: 40px 10%;
  }

  .movies-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
  }

  .Details-sidenav {
    width: 30%;
  }
}
